html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body,html{
    width:100%;
    height:100%;

}
/*NAVIGATION*/
nav{
    height: 60px;
    color: transparent;
    color:white;
}
nav > #logo{
    float:left;
    font-size: 30px;
    padding: 20px;
}
#ham, #ex{
    color:rgb(127, 0, 0);
    position: fixed;
    top: 0px;
    right:0px;
    margin: 20px 45px 20px 0px;
    z-index: 1;
    
}
#ex{
    display: none;
}
#linkBox{
    color:white;
    position:fixed;
    top: 0px;
    right:0px;
    padding: 70px 25px 0px 0px;
    font-size: 20px;
    text-align: center;
    display: none;
}
#linkBox > li{
    padding: 10px 0px;
}
#linkBox > li a:link,#linkBox > li a:hover,#linkBox > li a:visited{
    color:white;
    text-decoration: none;
}
#linkBox > li #activePage{
    text-decoration: line-through;
}
#linkBox > li a:hover{
    text-decoration: underline;
    font-weight:bold;
}
#linkBox.visible{
    display: initial;
    background: rgb(0, 0, 0,0.5);
    height:150px;
    width:100px;

}

/*SECTION*/

#iS{
    background-size: cover;
    width:100%;
    height:80%;
    background-image: url('./images/hero.jpg');
    border-bottom: #000 3px solid;
}
#iS > #hero{
    width:100%;
    height:100%;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;    
}
#iS > #hero > h1{
    font-size:40px;
    background-image: -webkit-radial-gradient( circle, black, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} 
#iS > #hero > p{
    font-size: 20px;

    width:60%;
}
#iS > #cave{
    position: absolute;
    left:44%;
    top:14%;
    width:24%;
    height:12%;
}
#iS.zoom{
    animation: cave 5s linear 1s 1 normal forwards;
}


@keyframes cave{
    0%{transform: scale(1.0);}
    100%{transform:scale(1.9);}
}

/*ARTICLE*/

article:not(#loginArt){
    clear: both;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    min-height: 50%;
}
article > .box h3{
    font-size: 28px;
    font-weight: bold;
}
article > .box p{
    text-align: center;
    margin: 0 auto;
    width:80%;
    font-size: 18px;
}
article img[alt="diamond"]{
    filter: grayscale(100%);

}
/*LOGIN*/
    #loginArt{
    width: 100%;
    min-height: 70%;
    clear: both;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    }


    #loginArt > #newUser, #loginArt > #oldUser{
        width: 350px;
        height:350px;
        position: absolute;
        margin-bottom: 30px;
    }
    #loginArt > #newUser{
        display: none;
    }
    #newUser > #newForm input,
    #oldUser > #oldForm input{
        width:100%;
        padding:5px;
        margin: 5px 0 10px 0;
        background: rgba(0, 192, 198, 0.9);
        color:white;
        font-weight:bold;
        border-radius: 4px;
    }
    #newForm input[type="submit"]{
        background: rgba(25, 188, 0, 0.569);
        font-size: 25px;
    }
    #loginArt h3 {
        margin-top: 40px;
        margin-bottom: 20px;
        font-size: 25px;
        text-align: center;
    }
    #oldBu,#newBu{
        
        align-items: center;
        font-size: 20px;
    }
    #newForm .tool{
        width: 325px;
        height:70px;
        padding:10px;
        position: absolute;
        right: 101%;
        background: rgba(0, 0, 0, 0.653);
        color:white;
        border-radius: 9px;
        visibility: hidden;
        font-size: 14px;
    }
    #newForm #tooltipName{
        bottom: 50%;
    }
    #newForm #tooltipPass{
        bottom: 40%;
    }
    #newForm #tooltipMail{
        bottom: 0%;
    }
    .cont #infoName1:hover  #tooltipName,
    .cont #infoPass1:hover  #tooltipPass,
    .cont #infoMail1:hover  #tooltipMail{
        visibility: visible;
    }
/*FOOTER*/


footer{
    background: rgb(0, 0, 0,0.8);
}
footer > p{
    padding:30px 20px;
    
    color:white;
}

/*MEDIA*/
/*600px*/
@media (max-width:768px){
    article{
        flex-direction: column;
    }
    article > .box{
        margin: 50px 0;
    }
    footer{
       text-align: center; 
    }
}

